<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SmartMES_Sonicx.Properties.Settings.snworld_mesConnectionString"
            connectionString="server=14.34.80.72;user id=sonicx;password=sonicx!;database=snworld_mes"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>